<% provide(:title, "About Us") %>
<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Rupesh Maharjan</h1>
		<p>This is my first ruby application</p>
		<p></p>
		<p>If you'd like to follow along as I learn more Ruby on Rails, find me on Twitter <a href="http://twitter.com/rupace10">@rupace10</a></p>
	</div>
</div>